<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--<bean class="com.cyc.my.shop.commons.context.SpringContext"></bean>
        <bean name="userService" class="com.cyc.my.shop.service.impl.UserServiceImpl"></bean>
        <bean name="userDao" class="com.cyc.my.shop.dao.impl.UserDaoImpl"></bean>-->
        <context:annotation-config />
    <context:component-scan base-package="com.cyc.easy.shop">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

</beans>